<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_fragment(title, scripts, links)">
    <title th:text="${title}"></title>
    <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" >
    <meta charset="utf-8" />
</head>
<body>
<div class="container">
    <h1>Scenario</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Feature Name</th>
            <th>Scenario Name</th>
            <th>isSucceeded</th>
            <th>Succeed Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <span th:each="feature : ${features}">
            <tr th:each="scenario : ${feature.getScenario()}" th:object="${scenario}" class="align-middle">
                <td th:text="${feature.getName()}"></td>
                <td th:text="${scenario.getName()}"></td>
                <td th:text="${scenario.isSuccess()}"></td>
                <td th:text="${#dates.format(scenario.getDate(), 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td>
                    <form th:action="@{/}" method="post">
                        <input type="hidden" name="featureIndex" th:value="${featureStat.index}">
                        <input type="hidden" name="scenarioIndex" th:value="${scenarioStat.index}">
                        <input type="submit" value="execute" />
                    </form>
                </td>
            </tr>
        </span>
        </tbody>
    </table>
</div>
</body>
</html>